#sendAssetFormContainer {
  padding-bottom: 2rem;
  margin-top: 1.5rem;
  width: 50vw;
}

#sendAssetFormContainer input:focus {
  box-shadow: none;
}

#sendAssetFormContainer input::placeholder {
  color: #C7C7C7;
  font-size: 0.85rem;
}

#sendAssetFormContainer
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.sendAssetFormLabel {
  color: #777777;
  font-size: 0.8rem;
}

.sendAssetFormDisplayErrors input:invalid {
  border-color: #f73772;
}

.sendButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}
