.mainContainer {
  display: flex;
  flex-direction: column;
}

.contentContainer {
  display: flex;
  flex-direction: row;
}

.statusBarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  background-color: #F9F9F9;
  text-align: center;
  font-size: 0.75rem;
  letter-spacing: 0.03rem;
  color: #4a4a4a;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.accountContentContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1;
}

.appContainer {
  display: flex;
  flex-direction: row;
}

