.container {
  width: 28rem;
}

.optionsContainer {
  font-size: 0.8rem;
}

#toggleButton {
  float: right;
  height: 1.2rem;
  width: 7rem;
  border-radius: 100px;
  font-size: 0.6rem;
  padding: 0 1.0rem;
}

.navOption {
  cursor: pointer;
}

.navOption:hover {
  background-color: #f8f9fa;
}