.mainContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
}

.assetContainer {
  display: flex;
  flex-direction: column;
  height: 20rem;
  margin-left: 6rem;
  margin-right: 6rem;
  margin-top: 3rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.04);
  background:  rgba(0, 0, 0, 0.02);
}

.assetContainerTitle {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color:rgba(0, 0, 0, 0.5);
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
  width: 100%;
}

.assetWidgetContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 2rem;
  margin-right: 2rem;
}

