.mainContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100%;
  width: 77%;
}

.marketInfoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color:  #F0F5F9;
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.07);
  border-left: 1px solid rgba(0, 0, 0, 0.07);
  border-right: 1px solid rgba(0, 0, 0, 0.07);
}

.marketInfoContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.tradeRateContainerTitle {
  font-weight: 400;
  font-size: 0.8rem;
  margin-bottom: 0.1rem;
  color: rgba(0, 0, 0, 0.65);
}

.tradeRateContainerContent {
  font-weight: 400;
  font-size: 0.8rem;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.9);
}

#orderBookContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  background-color:  rgba(0, 0, 0, 0.02);
  padding-top: 0.75rem;
  margin-bottom: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 0.8rem;
  font-weight: 400;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#orderBookContainer a {
  margin-bottom: 1rem;
}

#orderBookContainer a:hover {
  text-decoration: underline;
}

.orderBookTableContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 0.7rem;
  width: 100%;
}

.balanceInfoComponentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.balanceInfoComponentDivider {
  width: 0.1rem;
  background-color: rgba(0, 0, 0, 0.09);
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.tradeWidgetContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#assetWidgetContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 40%;
}

.widgetTitle {
  margin-bottom: 0.5rem;
  color:  rgba(0, 0, 0, 0.55);
  font-size: 0.65rem;
  font-weight: 700;
  letter-spacing: 0.009rem;
}

.assetWidgetImageContainer {
  display: flex;
  flex-direction: column;
  height: 55px;
  width: 55px;
  align-content: center;
  align-items: center;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.06);
  background: white;
  margin-bottom: 1rem;
}

.assetWidgetImage {
  height: 50px;
  width: 50px;
  margin: 0.2rem;
}

.amountOptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 16rem;
  margin-top: 0.5rem;
  margin-left: 2.1rem;
}

.amountOptionTitle {
  color:  rgba(0, 0, 0, 0.65);
  font-size: 0.68rem;
}

.submitButtonContainer {
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 1rem;
}

