.mainPageContainer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    height: 100%;
}

.mainPageNavContainer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    flex: 1 0 200px;
    width: 70px;
    height: 100%;
    padding-top: 1rem;
    position: fixed;
    background: #1D2836;
}

.mainPageNavContainerSpacer {
    margin-top: 1.5rem;
}

.mainPageNavSpacer {
    display: inline-block; 
    height: 2.5rem;
}

.mainPageContentContainer {
    flex: 1 1 auto;
    margin-left: 240px;
    overflow: auto;
}