.mainPageContainer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    height: 100%;
}

.mainPageNavContainer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    flex: 1 0 200px;
    width: 70px;
    height: 100%;
    padding-top: 1rem;
    position: fixed;
    background: #1D2836;
}

.mainPageNavContainerSpacer {
    margin-top: 1.5rem;
}

.mainPageNavSpacer {
    display: inline-block; 
    height: 2.5rem;
}

.mainPageContentContainer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    flex: 1 1 auto;
    margin-left: 100px;
    overflow: auto;
}

.mainPageContentContainer h3 {
    margin-top: 3rem;
    font-size: 1rem;
    font-weight: 100;
    color: #000000;
}

.mainPageContentContainer h5 {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 100;
    color: #000000;
}

.sendAssetFormContainer {
    width: 70%;
    margin-top: 3rem;
    padding-bottom: 10rem;
    padding-left: 2rem;
}

.sendAssetFormLabel {
    color: #000000;
}

.sendAssetFormDisplayErrors input:invalid {
    border-color: #f73772;
}