.sendAssetFormContainer {
  padding-bottom: 2rem;
  margin-top: 3rem;
}

.sendAssetFormLabel {
  color: #000000;
}

.sendAssetFormDisplayErrors input:invalid {
  border-color: #f73772;
}

.sendButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}