#receiveContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
}

.addressLabelContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F7F7F7;
  padding-top: 1.2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 0.75rem;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #F1F1F1;
}

#receiveContainer a {
  color: #0153B6;
  margin-top: 0.75rem;
  font-size: 0.75rem;
  letter-spacing: 0.02rem;
  font-style: italic;
}

#receiveContainer a:hover {
  color: #0153B6;
  text-decoration: underline;
}

.addressLabelHeader {
  font-size: 0.6rem;
  font-weight: 700;
  color: #777777;
  text-align: center;
  margin-bottom: 0.3rem;
}

.addressLabel {
  font-size: 0.8rem;
  font-weight: 400;
}