/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~font-awesome/css/font-awesome.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,400i,700,900');

body {
  position: relative;
  color: black;
  height: 100%;
  font-family: 'Lato', sans-serif;
  -webkit-app-region: drag;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: 300;
  color: #5E6066;
}

p {
  font-size: 24px;
  font-weight: 100;
}

li {
  list-style: none;
}

a {
  color: #555555;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}
