.mainContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
}

.assetContainer {
  display: flex;
  flex-direction: column;
  height: 20rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 3rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.04);
  background:  rgba(0, 0, 0, 0.02);
}