.mainContainer {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
}

.drawerContainer {
  width: 12rem;
  height: 100vh;
  border-right: 1px solid rgba(0, 0, 0, 0.06);
}

.drawerItemLabel {
  font-size: 0.8rem;
  font-weight: 300rem;
  padding-top: 0.5rem;
}