.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.logo {
  width: 40px;
  height: 21px;
  margin-top: 0.2rem;
}

.balanceTitle {
  margin-bottom: 0.1rem;
  color: #000000;
  font-size: 0.9rem;
  font-weight: 300;
}

.balanceLabel {
  font-weight: 100;
  color: #000000;
  font-size: 1.8rem;
}

.marketValueLabel {
  font-size: 0.7rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.65);
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

#linkContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#linkContainer a:hover {
  text-decoration: underline;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
  width: 70%;
}

.info {
  margin-top: 0.3rem;
  font-size: 0.65rem;
}