.mainContainer {
  display: flex;
  height: 100vh;
}

.assetContainer {
  display: flex;
  flex-direction: row;
}

.assetContainerActiveIndicator {
  width: 0.2rem;
  background-color: #FFFFFF;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-left: -1.3rem;
  margin-right: 1.1rem;
}

.assetLabelContainer {
  display: flex;
  flex-direction: column;
}

.listItemActive {
  background-color: brown !important;
}
