.mainContainer {
  width: 9rem;
  background-color: #1942c9;
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  height: 100vh;
}

.appContainer {
  display: flex;
  flex-direction: row;
}

.appContainerActiveIndicator {
  width: 0.25rem;
  background-color: #FFFFFF;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-left: -1.3rem;
  margin-right: 1.1rem;
}

.appLabelContainer {
  display: flex;
  flex-direction: column;
  margin-left: 0.75rem;
  font-size: 0.75rem;
  font-weight: 300;
}

.listItemStyle {
  outline: none !important;
  border-radius: 0 !important;
  background-color: #1942c9 !important;
  border-color: rgba(0, 0, 0, 0.125) !important;
  color: #F4F4F4 !important;
  border-right: 0 !important;
  border-left: 0 !important;
}

.listItemStyle .selected {
  background-color: #0026A2 !important;
  color: #FFFFFF !important;
}